@model FamilyTree.ViewModels.PersonCreateViewModel

@{
    ViewData["FirstName"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="">
        <form asp-action="Create" asp-controller="Person" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" accept="image/x-png,image/gif,image/jpeg,image/jpg"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherId" class="control-label"></label>
                <select asp-for="FatherId" id="fatherList" class="form-control"></select>
                <span asp-validation-for="FatherId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                 <label class="form-check-label">
                     <input class="form-check-input" id="hasSecondWife" asp-for="HasSecondWife" /> @Html.DisplayNameFor(m => m.HasSecondWife)
                 </label>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input id="motherName" asp-for="MotherName" class="form-control" readonly/>
                <p id="motherNameMessage">Please enter mother name</p>
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input type="date" asp-for="Dob" class="ckeditor form-control" rows="100" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WifeName" class="control-label"></label>
                <input asp-for="WifeName" class="form-control"/>
                <span asp-validation-for="WifeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WifeImage" class="control-label"></label>
                <input type="file" asp-for="WifeImage" class="form-control" accept="image/x-png,image/gif,image/jpeg,image/jpg"/>
                <span asp-validation-for="WifeImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="">Back to List</a>
</div>

@section Scripts
{
    <script type="text/javascript">
    
        $(document).ready(() => {
            $('#hasSecondWife').prop('checked', false);
            $("#motherNameMessage").css("display", "none");
            const URL = '@Url.Action("GetFatherList")';
            $.ajax({  
               type: "GET",  
               url: URL,
               success: function (data) {
                   let s = '<option>---Select---</option>';  
                   for (let i = 0; i < data.length; i++) {  
                       s += '<option value="' + data[i].id + '">' + data[i].firstName + '</option>';  
                   }  
                   $("#fatherList").html(s);  
               }  
           });
        });
        
        let motherName = "";
        $("#fatherList").change(() => {
            const URL = '@Url.Action("GetMotherName")?fatherId='+$("#fatherList").val();
            $.ajax({  
               type: "GET",  
               url: URL,
               success: function (data) {
                   motherName = data;
                   $('#motherName').val(data);
               }  
           });
        });
        
        $('#hasSecondWife').change(function () {
            let motherNameElement = $('#motherName');
            console.log(motherName);
            if (this.checked){
                motherNameElement.prop('readonly', false);
                $('#motherNameMessage').css({"display": "block", "color": "red"});
                motherNameElement.val("");
            }else {
                motherNameElement.val(motherName);
                motherNameElement.prop('readonly', true);
                $('#motherNameMessage').css("display", "none");
            }
            
           
        });
    
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


